html {
  background-color:black;
  color:white;
}

html, body {
  margin: 0px;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#loading_page {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:1;
}

.hbox {
  display:flex;
  flex-direction:row;
}

.vbox {
  display:flex;
  flex-direction:column;
}

.flex {
  flex:1;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

Resources 1×0.5×0.25× Rerun
